PORT = # Backend server port
MYSQL_HOST = # Mysql server ip
MYSQL_USER = # Mysql database username
MYSQL_PASSWORD = # Mysql database user password
MYSQL_DATABASE = # Mysql database name
JWT_TOKEN = # Json web token value