@model Med_Storage_Frontend.Models.TransferModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TransferModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransferId" class="control-label"></label>
                <input asp-for="TransferId" class="form-control" />
                <span asp-validation-for="TransferId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferCreator" class="control-label"></label>
                <input asp-for="TransferCreator" class="form-control" />
                <span asp-validation-for="TransferCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferDestination" class="control-label"></label>
                <input asp-for="TransferDestination" class="form-control" />
                <span asp-validation-for="TransferDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferStatus" class="control-label"></label>
                <input asp-for="TransferStatus" class="form-control" />
                <span asp-validation-for="TransferStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferDate" class="control-label"></label>
                <input asp-for="TransferDate" class="form-control" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
